
.todoAppContainer{
  padding: 2rem;
  height: 100vh;
  background: linear-gradient(
    88.8deg,
    rgb(239, 171, 245) 13.4%,
    rgb(196, 181, 249) 76.3%
  );
}

.addTaskBtn{
  background-color: rgb(255, 32, 225);
   color: #fff;
    font-weight: bold;
     padding: 1rem 3rem;
     margin: 1rem auto;
     display: flex;
     justify-content: center;
     align-items: center;

}

.addTaskBtn:hover{
  background-color: rgb(184, 63, 168);


}